$body-background-color: #F0E3CA;
$search-food-background-color: #1B1A17;
$search-food-text-color: #F0E3CA;
$food-container-background: #FF8303;
$food-image-background: #1B1A17;
$read-more-background: #1B1A17;
$read-more-text-color: #F0E3CA;
$food-info-background: rgba(27, 26, 23, 0.9);
$food-info-text-color: #F0E3CA;
$food-info-container-background: rgba(255, 131, 3, 0.8);
$greeting-text-color: #FF8303;